@use '../abstracts/index' as *;

@media only screen and (min-width: 600px) {

    .page-footer {
        display: grid;
    }

    .page-footer p:first-child{
        text-align: center;
        font-size: 25px;
        padding-bottom: 2rem;
    }

    .page-footer ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 1rem;
        list-style: none;
        padding-bottom: 1.5rem;
    }

    .page-footer p:last-child {
        padding-top: 1rem;
    }


    
}