@use "../abstracts/index" as *;

:where(ul, ol) {
    list-style-position: inside;
}

@media only screen and (min-width: 600px){
article .container ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px 30px;
    list-style: none;
    color: $blue;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
}