@use '../abstracts/index' as *;

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-height: 10vh;
    align-items: center;
    margin: 0;
}

@media only screen and (min-width: 600px) {
    
    nav ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    padding: 0px 50px;
}

    nav ul a {
        color: $purple-200;
        text-decoration: none;
    }

    nav ul a:hover {
        color: $purple-100;
        font-size: 1.5rem;
    }
}